* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #f9fbfa;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c0632;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.header {
  width: 95%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
}

.header__searchbar {
  height: 50%;
  width: clamp(4rem, 20rem, 30rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5rem;
  padding: 0 1rem;
  background-color: #0c0632;
  position: relative;
}

.header__searchbar__input {
  border: none;
  outline: none;
  background-color: transparent;
}

.header__searchbar__input::-webkit-input-placeholder {
  color: #f9fbfa;
}

.header__searchbar__input:-ms-input-placeholder {
  color: #f9fbfa;
}

.header__searchbar__input::-ms-input-placeholder {
  color: #f9fbfa;
}

.header__searchbar__input::placeholder {
  color: #f9fbfa;
}

.header__searchbar__icon {
  cursor: pointer;
}

.header__searchbar::before {
  content: "";
  width: 101%;
  height: 110%;
  background: linear-gradient(125deg, #0173b4 0%, #111e55 49%, #0173b4 100%);
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 5rem;
}

.header__program {
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .7rem;
}

.header__program__programIcon {
  margin-top: -5px;
}

.header__socials {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.header__socials__icon {
  cursor: pointer;
}

.header__burgerButton {
  width: 35px;
  height: 3px;
  background-color: #f9fbfa;
  position: relative;
}

.header__burgerButton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -10px;
  left: 0;
  background-color: #f9fbfa;
}

.header__burgerButton::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 10px;
  left: 0;
  background-color: #f9fbfa;
}

.news {
  height: 90vh;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.news__content {
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__content__imgWrapper {
  width: 100%;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__content__imgWrapper__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__content__title {
  font-size: 2rem;
  background-color: #111e55;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.news__content__textWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0173b4;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.news__content__textWrapper__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  padding-left: 1rem;
}

.news__content__textWrapper__desc {
  -webkit-box-flex: 3.2;
      -ms-flex: 3.2;
          flex: 3.2;
  font-weight: 200;
  font-size: .8rem;
  padding-right: 1rem;
}

.news__aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.news__aside__live {
  width: 100%;
  background-color: #111e55;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.news__aside__live figcaption {
  font-weight: 200;
}

.news__aside__announcement {
  width: 100%;
  padding-bottom: 2.3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__aside__announcement figcaption {
  font-size: 1.5rem;
}

.news__aside__announcement__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.information {
  width: 100%;
  height: 90vh;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, transparent), to(#0173b4));
  background: linear-gradient(0deg, transparent 80%, #0173b4 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.information__title {
  width: 95%;
  font-size: 2rem;
}

.information__content {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.information__content__primary {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.information__content__secondary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.information__content__tertiary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.information__content__tertiary__links {
  list-style: none;
  margin-top: -4px;
}

.information__content__tertiary__links__link {
  font-size: .7rem;
  border-bottom: 1px solid #111e55;
  padding: 1rem 0;
}

.information__content__tertiary__links__link:first-child {
  padding-top: 0;
}

.information__content__tertiary__links__link:last-child {
  border: none;
}

.articleElement {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .4rem;
}

.articleElement__figure {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.articleElement__figure__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articleElement--small {
  width: 100%;
  min-height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .4rem;
  font-size: .9rem;
}

.region {
  width: 100%;
  height: 120vh;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, transparent), to(#0173b4));
  background: linear-gradient(0deg, transparent 80%, #0173b4 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.region__wrapper {
  width: 95%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.region__wrapper__informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 2rem;
}

.region__wrapper__informations__small {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.dayTalk {
  width: 100%;
  height: 80vh;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(80%, transparent), to(#0173b4));
  background: linear-gradient(0deg, transparent 80%, #0173b4 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}
/*# sourceMappingURL=main.css.map */